<div class="flex pt-4 pb-4">{% comment %}----------start pagination {% endcomment %}
    <div class="mx-auto">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="badge badge-primary badge-pill p-2" href="?page=1">&laquo; first</a>
                <a class="badge badge-primary badge-pill p-2" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
  
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a class="badge badge-primary badge-pill p-2" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="badge badge-primary badge-pill p-2" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>{% comment %}----------end pagination {% endcomment %}  