<a class="relative block my-10 rounded-lg shadow-2xl hover:scale-105 ease-in-out duration-1000" href="{% url 'portfolio:portfolio-detail' portfolio.slug %}">
  <div class="block rounded-lg bg-white text-white shadow-secondary-1 dark:bg-surface-dark">
    <img class="rounded-lg" src="{{ portfolio.images.url }}" alt="{{ portfolio.images.alt }}" />
    <!-- Dark overlay -->
    <div class="absolute inset-0 bg-black opacity-20 rounded-lg"></div>
    <div class="absolute top-0 p-6">
        <h5 class="mb-2 text-xl font-medium leading-tight text-white">
          {{portfolio.title}}
        </h5>
    </div>
  </div>
</a>


