{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="animate__animated animate__fadeInUp container mx-auto p-8 lg:px-20">
    <h1 class="text-center text-4xl my-5">Search Results</h1>
    <div>
        {% if portfoliosearch_list %}
            <section class="lg:grid lg:grid-cols-3 lg:gap-8">
                {% for portfolio in portfoliosearch_list %}
                    {% include 'portfolio/base_list.html' %}
                {% endfor %}
            </section>
        {% else %}
            <h6 class="text-center text-2xl">No results found for your search.</h6>
        {% endif %}
    </div>
    {% include 'pagination.html' %}
</div>
{% endblock %}
