@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
      }
    h1, h2, h3, h4, h5, h6, dt, dd, span, a {
        font-family: 'Russo One', sans-serif;
    }
    dd {
        font-family: 'Lora', serif;
    }
    p {
        font-family: 'Rubik', sans-serif;
    }
    h1 {
        font-size: 2.25em;
    }
    h2 {
        font-size: 1.75em;
    }
    h3 {
        font-size: 1.5em;
    }
    h4, h5, h6 {
        font-size: 1.25em;
    }
    a {
        color: #0284c7;
    }
  }