{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row pl-2 pr-2">
        <div class="mx-auto mb-4 mt-5">
            <h1>OOPS!</h1>
            <h2>Page not found, may I interest you in something else?</h2>
                <div class="row">
                    <div class="col mt-5">
                        <a href="{% url 'portfolio:portfolio-list' %}">
                            <img class="mt-5 img-fluid" src="{% static 'images/error-portfolio-button.png'%}">
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="{% url 'home' %}">
                            <img class="img-fluid-80" src="{% static 'images/error-404.png'%}">
                        </a>
                    </div>
                    <div class="col mt-5">
                        <a href="{% url 'blog:post-list' %}">
                            <img class="mt-5 img-fluid" src="{% static 'images/error-blog-button.png'%}"> 
                        </a>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 text-center">
                        <a href="{% url 'home' %}">
                            <img class="mx-auto img-fluid-80" src="{% static 'images/error-home-button.png'%}"> 
                        </a>      
                    </div>
                    <div class="col-4"></div>
                </div>   
        </div>
    </div>
</div>
{% endblock %}