<a href="{% url 'blog:post-detail' post.slug %}">
    <div class="flex justify-center pb-10 mb-10 lg:mb-0">
        <div class="rounded-lg border-sky-600 shadow-2xl bg-white text-center">
            <img class="rounded-t-lg" src="{{ post.featured_image.url }}" alt="{{ post.featured_img_alt_tag.alt }}"/>
          <div class="p-6">
            <h2 class="text-lg text-gray-900 font-medium">{{post.title}}</h2>
            <p class="text-base">Posted: {{post.created_on|date:'M. d, Y'}}</p>
          </div>
        </div>
    </div>
  </a>
  
